@import url(//db.onlinewebfonts.com/c/497200b6361fb01ae56ad5aa08910c89?family=Sith+Prophecy);

@font-face {font-family: "Sith Prophecy"; src: url("//db.onlinewebfonts.com/t/497200b6361fb01ae56ad5aa08910c89.eot"); src: url("//db.onlinewebfonts.com/t/497200b6361fb01ae56ad5aa08910c89.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/497200b6361fb01ae56ad5aa08910c89.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/497200b6361fb01ae56ad5aa08910c89.woff") format("woff"), url("//db.onlinewebfonts.com/t/497200b6361fb01ae56ad5aa08910c89.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/497200b6361fb01ae56ad5aa08910c89.svg#Sith Prophecy") format("svg"); } 

.sith {
	font-family: Sith Prophecy;
}
