@import url(//db.onlinewebfonts.com/c/591a1311200119eefe5df87892d876be?family=Aurebesh);

@font-face {font-family: "Aurebesh"; src: url("https://db.onlinewebfonts.com/t/591a1311200119eefe5df87892d876be.eot"); src: url("https://db.onlinewebfonts.com/t/591a1311200119eefe5df87892d876be.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/591a1311200119eefe5df87892d876be.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/591a1311200119eefe5df87892d876be.woff") format("woff"), url("https://db.onlinewebfonts.com/t/591a1311200119eefe5df87892d876be.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/591a1311200119eefe5df87892d876be.svg#Aurebesh") format("svg"); } 

.sith {
	font-family: Aurebesh;
}
